input{
    width: 60%;
    margin: 30px 0;
    padding: 20px 20px;
    font-size: 20px;
    border: none;
    background-color: rgba(81, 128, 153, .2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    outline: none ;  
    color: #2d3e5f;
    font-weight: 400;

}
input::placeholder{
    color: #9e9c9c;
    font-weight: 300;
}

@media (min-width:480px) and (max-width:1024px) {
    input{
        width: 80%;
    }
}

@media screen and (max-width:480px) {
    input{
        width: 100%;
        margin: 40px 0;
    }
}